*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

section{
    padding: 5em 2em;
    scroll-snap-align: start;
  }

/* SECTION */
  .section__subtitle{
    font-size: var(--fs-body);
  }
  
  .section__subtitle--about{
    /* background: var(--clr-accent); */
    font-family: var(--ff-primary);
  }
  /* img{
    display: block;
    /* max-width: 40%; */
  
  
  h1{font-size: var(--fs-h1); font-family: var(--ff-secondary);}
  h2{font-size: var(--fs-h2); font-family: var(--ff-secondary); font-weight: 300;}
  h3{font-size: var(--fs-h3); font-family: var(--ff-secondary); font-weight: 300;}
  
  body{
    background: url(/assets/mybwbgeditendlesslit2.png);
    background-attachment: fixed;
    background-position: -10px 30%;
    background-repeat: no-repeat;
    /* should I do the white and then have darkmode? */
    background-size: 100rem;
    box-shadow:inset 0 0 0 2000px rgba(167, 170, 170, 0.356);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    color: var(--clr-dark);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden; 
  }

  @media only screen and (max-width: 450px){

    html{
      width: 100%;
      overflow-x: hidden;
    }
  }