// .portfolio{
//   height: 200vh;
// }

.section__title--portfolio{
    position: relative;
    text-align: center;
  }
  .section__subtitle--portfolio{
    display: flex;
    justify-content: center;
    padding: 5% 40% 10% 20%;
  }
  .section__body--portfolio{
    background: url(/assets/portfoliobg.png);
    background-size: 90rem;
    background-attachment: fixed;
    background-position: -1px 60%;
    background-repeat: no-repeat left;
    box-shadow:inset 0 0 0 2000px rgba(167, 170, 170, 0.356);
    padding: 10vh;
    height: 300vh;
  }
  
  .portfolio__items{
    color:var(--clr-dark);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  } 
  .portfolio__item{
    width: 100rem;
  }
  .portfolio img{
    border-radius: 20px; 
  }

  // projects
  
  .project_title a {
    text-decoration: none;
    color: var(--clr-dark);
    transition: all .4s ease;
    &:hover{
      color: var(--clr-accent);
    }
  }
  .project_techList li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 450;
    text-shadow: 1px .7px 1px rgba(36, 35, 35, 0.623);
    margin-right: 5px;
    color: rgb(146, 52, 52);
    flex-wrap: wrap;
    &:hover{
      color: rgb(219, 28, 28);
      text-shadow: none;
      cursor: pointer;
    }
  }
  
  // 1st project


  .project_content1{
    position: relative;
    margin: 0 0 0 67%;
  }
  .project_description1{
    background-color: rgb(202, 206, 207);
    height: 13.5rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
  }
  
  .project_image1 img{
    position: relative;
    width: 55%;
    margin: -21rem 0% 10% 5%;
    filter: brightness(70%);
    transition: all .4s ease;
    &:hover{
      filter: none;
    }
  }
  
  // 2nd Project
  
  .project_description2{
    background-color: rgb(202, 206, 207);
    height: 11rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
  }
  .project_image2 img{
    width: 60vw;
    // min-width: 500px;
    margin: -34% 0 10% 37%;
    filter: brightness(70%);
    transition: all .4s ease;
    &:hover{
      // z-index: 3;
      filter: none;
    }
  }
    
// third project
      
      
  .project_content3{
        margin: 10% 0 0 67%;
  }
  .project_description3{
    background-color: rgb(202, 206, 207);
    height: 30%;
    width: 80%;
    // min-width: 200px;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
    flex-wrap: wrap;
  }
      
  .project_image3 img{
      position: relative;
      // height:400px;
      width: 90%;
      min-width: 400px;
      margin: -28% 3% 0 0;
      z-index: 0;
      filter: brightness(70%);
      transition: all .4s ease;
        &:hover{
          filter: none;
    }
  }

// Media Queries

  @media only screen and (max-width: 600px) {
    .portfolio{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .project_content1 {
      margin: 10% 0 40% 0;
      .project_techList{
        margin-bottom: 40%;
      }
    }
    .project_content2 {
      margin: 10% 0 35% 0;
    }
    .project_content3{
        margin: 10% 0 35% 0;
    }
    .project_description3{
      width: 50%;
      margin: auto;
    }

    .project_image1 img{
      width: 100vw;
      margin-inline: auto;
    }
    .project_image2 img{
      width: 100vw;
      margin-inline: auto;
    }
    .project_image3 img{
      margin-inline: auto;
      width: 100vw;
    }
  }