// .portfolio{
//   height: 200vh;
// }

.section__title--portfolio{
    position: relative;
    text-align: center;
  }
  .section__subtitle--portfolio{
    display: flex;
    justify-content: center;
    padding: 5% 40% 10% 20%;
  }
  .section__body--portfolio{
    background: url(/assets/portfoliobg.png);
    background-size: 90rem;
    background-attachment: fixed;
    background-position: -1px 60%;
    background-repeat: no-repeat left;
    box-shadow:inset 0 0 0 2000px rgba(167, 170, 170, 0.356);
    padding: 10vh;
    height: 400vh;
  }
  
  .project_content{
    z-index: 3;
    position: relative;
    // top: 25%;
    margin: 0 0 0 67%;
  }
  .project_description{
    background-color: rgb(202, 206, 207);
    height: 8rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
  }

  .project_image img{
    position: relative;
    width: 85%;
    margin: -45% 0% 10% 5%;
    z-index: 0;
    filter: brightness(70%);
    transition: all .4s ease;
      &:hover{
      filter: none;
    }
  }
  .portfolio__items{
    color:var(--clr-dark);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  } 
  .portfolio__item{
    width: 100rem;
  }
  .portfolio img{
    border-radius: 20px; 
  }
  
  .project_content1{
    z-index: 3;
    position: relative;
  }
  .project_title a {
    text-decoration: none;
    color: var(--clr-dark);
    transition: all .4s ease;
      &:hover{
      color: var(--clr-accent);
    }
  }
  .project_techList li{
    list-style: none;
    display: inline-block;
  }
  .project_description{
    background-color: rgb(202, 206, 207);
    height: 11rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
  }
  .project_description1{
    background-color: rgb(202, 206, 207);
    height: 13.5rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
  }
  .project_techList li{
    font-size: 15px;
    font-weight: 450;
    text-shadow: 1px .7px 1px rgba(36, 35, 35, 0.623);
    margin-right: 5px;
    color: rgb(146, 52, 52);
    flex-wrap: wrap;
      &:hover{
      color: rgb(219, 28, 28);
      text-shadow: none;
      cursor: pointer;
    }
  }
  .project_image1 img{
    position: relative;
    // height:400px;
    // width: 400;
    width: 90%;
    margin: -34% 0 0 55%;
    z-index: 0;
    filter: brightness(70%);
    transition: all .4s ease;
      &:hover{
      // z-index: 3;
      filter: none;
    }
  }


  .project_slider{
    width: 60%;
    overflow: hidden;
  }
  .product_images{
        img{
      width: 100%;
    }
}

// third project


  .project_content3{
    z-index: 3;
    position: relative;
    // top: 25%;
    margin: 10% 0 0 67%;
  }
  .project_description3{
    background-color: rgb(202, 206, 207);
    height: 8rem;
    width: 23rem;
    font-size: var(--fs-project);
    padding: 20px 20px 15px 15px;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .project_image3 img{
    position: relative;
    // height:400px;
    width: 90%;
    margin: -28% 3% 0 0;
    z-index: 0;
    filter: brightness(70%);
    transition: all .4s ease;
      &:hover{
      filter: none;
    }
  }
